<li class='gallery-item'>
  <div class='main-wrapper'>
    <a href='' class='gallery-item-link'>
      <div class='img-wrapper'>
        <img src='' alt='' />
      </div>
      <div class='movie-stats'>
        <h4 class='movie-title'></h4>
        <p><span class='movie-genres'></span></p>
        <p><span>|</span></p>
        <p class='movie-release-date'></p>
      </div>
    </a>
  </div>
</li>